#contactMainContainer{
	height: auto;
	width: 100%;
	
	background-repeat: no-repeat;
	background: fixed;
	background-size: cover;
	
}
#contactMainContainer-1{
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.6);
}
#label{
	padding-top: 40px;
	padding-left: 80px;
	color: white;
	font-size: 20px;
}
input{
	height: 30px;
	font-size: 20px;
	width: 550px;
	padding-left: 10px;
	margin: 5px;
	margin-left: 80px;
	background-color: rgba(20,40,100,0.6);
	color: white;
	font-weight: bold;
}
input:hover{
	border: 2px solid blue;
}
#textarea{
	margin-left: 80px;
	height: 100px;
	font-size: 20px;
	background-color: rgba(20,40,100,0.6);
	width: 540px;
}
#map{
	border:10px solid gray; 
	float: right; 
	margin-right: 70px; 
	margin-top: 110px;
}
#text-time{
	font-size: 25px;
	color: rgba(250,50,100,1);
}
a{
	text-decoration: none;
	color: white;
}