

footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 400px;
    justify-content: initial;
    background-image:url("../images/footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    flex-shrink: 2;
}

.footerUl{
    font-family: Roboto, Helvetica Neue, sans-serif;
    font-size: 12px;
    font-weight: bolder;
    color: white;
    display: inline-block;
    width: 300px;
    height: 300px;


}
.footerLi{
    list-style-type: none;
    display: inline-block;
    padding: 8px;
   /* border: 1px solid white;*/
    cursor: pointer;
    width: 240px;
}
.footerLi:hover{
    color: #ec3414;
}
h3{
    text-decoration: underline;
    font-family: Roboto, Helvetica Neue, sans-serif;
    font-weight: bolder;
}