body{
			margin: 0px;
		}
		#box{
		height: 60vh;
		width: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		
		background-blend-mode: difference;
		scroll-behavior: unset;
		background-attachment: fixed;
	}
	#container{
		margin-top: 0px;
		height: 100%;
		width: 100%;

		background-repeat: repeat-x;
		/*background: linear-gradient(45deg, rgba(86,74,217,0.4) 18%, rgba(121,115,221,0.4) 39%, rgba(223,236,231,0.4) 100%);*/
	}
	h1{
		margin-top: 0px;
		padding-top: 50px;
		color: white;
		font-size: 40px;
		text-align: center;
		font-weight: bold;
		margin-bottom: 10px;
	}
	#box1{
		height: auto;
		width: 100%;
		background-attachment: fixed;
		color: black;
	}
	#sub-heading{
		text-align: center;
		color: white;
		margin: 0px;
		font-size: 22px;
		font-weight:bold;
		font-style: italic;
	}
	#second-heading{
		text-align: center;
		color: white;
		margin: 0px;
		font-size: 30px;
		font-weight:bold;
		padding-top: 60px;
		
	}
	#header-text-content{
		text-align: center;
		color: white;
		margin: 0px;
		font-size: 18px;
		padding-left: 70px;
		padding-right: 70px;
		padding-top: 40px;
	}
	#subject{
		font-size: 20px;
		padding-left: 100px;
		padding-right:100px;
		text-align: justify;
	}
	#box2{
		height: 71vh;
		width: 100%;
		background-attachment: fixed;
		color: black;
		
	}
	h2{
		color: white;
		font-weight: bold;
		padding-top: 20px;
		text-align: center;
		margin-bottom: 0px;

		font-size: 40px;
	}
	#form-appointment{
		padding-top: 30px;
		margin-left: 90px;

	}
	#form-appointment select{
		height: 50px;
		width: 40%;
		padding-left: 20px;
		
		font-size: 22px;

	}
	
	#form-appointment textarea{
		width: 81.56%;
		height: 200px;
		padding-left: 20px;
		margin-left: 40px;
		font-size: 22px;
		margin-top: 25px;
		color: black;
	}
	button{
		height: 50px;
		width: 100px;
		text-align: center;
		font-size: 20px;
		border-radius: 5px;
		margin-top: 20px;
		margin-left: 42%;

	}
	button:hover{
		cursor: pointer;
		box-shadow: 4px 4px 4px;
	}